{% extends "./staff/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="box-title mb-4">Your Timetable</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="100">Period</th>
                            {% for day in days %}
                            <th>{{ day }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for period in periods %}
                        <tr>
                            <td class="fw-bold">{{ period | capitalize }}</td>
                            {% for day in days %}
                                <td>
                                    {% if timetable[period][day] %}
                                        <div>
                                            <strong>{{ timetable[period][day].subject_name }}</strong> <br>
                                            <!-- Taught by: {{ timetable[period][day].staff_name }} -->
                                            Taught by: You <br>
                                            Course: {{ timetable[period][day].course_name }}
                                        </div>
                                    {% else %}
                                        <span class="text-muted">Free</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
